<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/editproduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/Screenshot__27_-removebg-preview.png" alt="">
            <h2>Dynamic</h2>
        </div>
        <div class="items">
            <li>
                <i class="fa-solid fa-chart-pie"></i>
                <a href="/adminHome">Dashboard</a>
              </li>
              <li>
                <i class="fa-solid fa-table-cells-large"></i>
                <a href="/userslist">Users</a>
              </li>
              <li>
                <i class="fa-regular fa-pen-to-square"></i>
                <a href="/adminproducts">products</a>
              </li>
              <li>
                <i class="fa-solid fa-credit-card"></i>
                <a href="/category">Category</a>
              </li>
              <li><i class="fa-solid fa-burger"></i> <a href="/banner">Banner</a></li>
              <li>
                <i class="fa-solid fa-chart-line"></i> <a href="/coupon">coupon</a>
              </li>
              <li>
                <i class="fa-solid fa-table-cells-large"></i>
                <a href="/adoders">oders</a>
              </li>

        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            
            </div>

            <div class="profile">
                
                <img src="/images/149071.png" alt="">
            </div>
        </div>

        <h3 class="i-name">edit product</h3>
       

            <div class="board">
                <div class="productform">
                    
                <form action="/editproduct/<%=product.id %>" method="post" enctype="multipart/form-data">
                  
                    <div class="form-group">
                        <div class="photoframe">
                            <img src="/productimg/<%=product.productimgf[0]%>" alt="" class="pic" id="previewimg">
                        </div>

                    <div class="form-group">
                        <label for="">product name</label>
                        <input type="text" name="productname"  value="<%=product.productname %>">
                    </div>
                    <div class="form-group">
                        <label for="">quantity</label>
                        <input type="text"  name="quantity" value="<%=product.quantity %>">
                    </div>
                    <div class="form-group">
                        <label for="">price</label>
                        <input type="text"  name="price" value="<%=product.price %>">
                        </div>
                        <div class="form-group">
                            <label for="">Discount</label>
                            <input type="text" name="Discount" value="<%=product.Discount  %>">
                            </div>
                            <div class="form-group">
                                <label for="">Discription</label>
                                <textarea name="description"  cols="50" rows="3" ><%=product.description %></textarea>
                                </div>
                                <div class="form-group">
                                    
                                    <label for="">Category</label>
                                   
                                    <select name="category" class="catselect">
                                       
                                        <option value="<%=product.category%>"><%=product.category%></option>
                                        <%cats.forEach((data)=>{ %>
                                            <option value="<%=data.category %>"><%=data.category %></option>
                                            <%});%>
                                    </select>
                                 
                                    </div>
                                    <div class="form-group">
                                        <label for="">subcategory</label>
                                        <select name="subcategory">  
                                            <option value="<%=product.subcategory %>"><%=product.subcategory %></option>
                                           <%cats.forEach((data)=>{ %>
                                            <%data.subcategory.forEach((sub)=>{ %>
                                                <option value="<%=sub %>"><%=sub %></option>
                                                <%}); %>
                                                <%}); %>
                                                
                                        </select>
                                        
                                        </div>
                                        </div>
                     <input type="file" multiple name="productimgf" id="productimgf" onchange="handleimg()"  value="<%=product.productimgf%>">
                                          
                    <button type="submit">Add</button>
                    </form>
                    
                    </div>
                    
            </div>
    </section>

    <script>
        $('#menu-btn').click(function() {
           $('#menu').toggleClass('active')
        })
    </script>
    <script>
        function handleimg(){
    const imageInput = document.getElementById("productimgf");
    const previewImage = document.getElementById("previewimg");
  
    const file = imageInput.files[0];
  
    if (file) {
      const reader = new FileReader();
  
      reader.onload = function (e) {
        previewImage.src = e.target.result;
      };
  
      reader.readAsDataURL(file);
    } else {
      previewImage.src = "";
    }
  }

    </script>
</body>

</html>
